html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
}

.lds-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 410px);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0099d5 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header {
  color: white;
  background-color: #0099d5;
  height: 82px;
  display: flex !important;
  flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  border-bottom: solid 2px #c6c6c6;
}

.active {
  text-decoration: underline solid;
}

nav {
  display: flex;
  color: white;
  align-items: flex-end;
  font-size: 15px;
}

.ul-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.header-list {
  list-style: none;
  margin-right: 25px;
  width: 70px;
  display: flex;
  inline-size: auto;
}

.header-list > a:hover {
  text-decoration: underline solid;
}

ul li:last-child {
  margin-right: 0;
}

.headercenter {
  width: 33.33%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.headertext_wrapper > a:hover {
  text-decoration: none;
}

.headertext_wrapper {
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 75px;
  height: 75px;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.headertext {
  display: flex;
  justify-content: center;
  margin: auto;
}

.heading_text {
  color: #0099d5;
  font-size: 32px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.41pt;
  position: relative;
  margin-top: 20px;
}

.heading_text::before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 95%;
  border-bottom: 1px solid #c6c6c6;
}

.mobile-nav {
  height: 20px;
  font-size: 14px;
  background-color: #0099d5;
  color: white;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  z-index: 5;
  border-bottom: solid 2px #c6c6c6;
  justify-content: center;
}

.ul-mobile {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-around;
}

.ul-mobile > a {
  display: inline-block;
}

.link:link,
.link:visited {
  color: white;
  letter-spacing: 0.41pt;
}

.footer {
  background-color: #0099d5;
  color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: inherit;
  bottom: 5px;
  font-size: 13px;
}

.footer-bottom > a {
  color: white;
  display: flex;
}

.footer-heading {
  color: white;
  display: flex;
  align-self: flex-start;
  margin-top: 10px;
}

.footer-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.footer-text > a {
  color: white;
  display: contents;
}

@media only screen and (max-width: 800px) {
  .header-right {
    display: none;
  }

  .ul-header {
    display: none;
  }

  header {
    border-bottom: none;
    height: 60px;
  }

  .headertext_wrapper {
    height: 50px;
    width: 50px;
    font-size: 11px;
  }
}

@media only screen and (min-width: 800px) {
  .mobile-nav {
    display: none;
  }

  .footer {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .footer-heading {
    position: absolute;
  }

  .footer-bottom {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
  }
}
