.searchbar {
  display: flex;
  border-radius: 4px;
  justify-content: center;
  position: sticky;
  top: 80px;
  z-index: 4;
  background-color: white;
  margin-bottom: 10px;
}

.searchbar > input {
  height: 30px;
  border: solid 2px #f6f6f6;
  margin: 5px 0 5px 0;
  padding: 0 10px 0 10px;
  border-radius: 8px;
  width: 100%;
  color: #0099d5;
  background-color: #f6f6f6;
}

.user-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: calc(100vh - 410px);
}

.user-card {
  color: white;
  height: 240px;
  width: 168px;
  display: flex;
  flex-direction: column;
  border: solid 2px #c6c6c6;
  border-radius: 4px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}

.user-card-top {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.user-card-bottom {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  width: 100%;
  padding: 2px 5px 2px 5px;
  background-color: #0099d5d1;
  z-index: 3;
  bottom: 0;
}

.profilePic {
  object-fit: cover;
  height: auto;
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.specialisme,
.leeftijd {
  font-size: 12px;
}

.voornaam {
  letter-spacing: 0.41pt;
  font-weight: bold;
}

.copy-text {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-wrapper {
  margin: auto;
}

.notfound-text {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

@media only screen and (min-width: 640px) {
  .copy-text,
  .user-wrapper {
    width: 75%;
  }

  .user-container {
    justify-content: space-between;
  }

  .user-card {
    height: 420px;
    width: 280px;
  }

  .user-card-bottom {
    height: 27%;
  }

  .specialisme,
  .leeftijd {
    font-size: 17px;
  }

  .searchbar {
    top: 82px;
  }

  .voornaam {
    font-size: 21px;
  }
}
